 {{#data}}
	<div class="fu_column_1st">
	    <a href="#" class="fu_column_link">
	        <span class="c0" data-locTag="{{locTag}}">{{loc}}</span>
	        <span class="c2"><em class="btn_price">￥<i>{{pr}}</i></em></span>
	    </a>
	</div>
{{/data}}