
<div class="fuzzy_route_choi">
    <span class="locale" id="locale_id">{{from}}</span>
    <em class="{{flightTypeClass}}"></em>
    <span class="locale" >{{to}}</span>
    <span class="fzline">｜</span>
    <span class="turn">{{flightType}}</span>
</div>
<div class="fuzzy_route_time"><span class="fztime">{{fromDate}} {{flag}} {{toDate}}</span><a href="#" id="research_id" class="close_choi">重新搜索</a></div>