
<div class="fuz_month_data" style="z-index:{{index}};">

	<div class="fuz_md_header">
    	<h4 class="gr_time">{{label}}</h4>
		<div class="month_selector clrfix">{{&month_selector}}</div>
    </div>
    
    <div class="month_data_chart">
    	{{&month_data}}
    </div>
    	
</div>